.logo {
  height: 100px;
  padding: 20px;
}

.logoConteiner {
  width: 150px;
  display: inline-block;
}

.productsMenu {
  padding: 80px;
  padding-left: 20px;
}

.minion1 {
  height: 250px;
  padding: 100px;
  padding-top: 0px;
  padding-left: 40px;
  padding-bottom: 25px;
}

.reserveConteiner {
  padding-left: 61px;
  padding-top: 0px;
  text-align: center;
  width: 145px;
}

.logoName {
  padding: 20px;
  padding-top: 0px;
}

.email {
  display: inline-block;
  vertical-align: top;
  padding: 25px;
  padding-left: 400px;
}

.App {
  padding: 20px;
}